body {
    margin: 0;
    padding-bottom: 3rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: #37393e;
}

#form {
    background: #37393e;
    padding: 0.25rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    width: 80vw;
    max-width: 80vw;
}

#input {
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
    background-color: rgba(64, 69, 74, 255);
    color: #fff;
}

#input:focus {
    outline: none;
}

#form>button {
    background: #32343a;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
}

#form>button:hover {
    background: #fff;
    color: #000;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    padding-bottom: 3rem;
}

#messages>li {
    position: relative;
    padding: 0.5rem 1rem;
    color: #fff;
    max-height: calc(100vh - 3rem);
    width: calc(80vw - 32px);
    max-width: calc(80vw - 32px);
    overflow-wrap: break-word;
}

#messages>li>img,
#messages>li>video {
    position: relative;
    top: 0.5rem;
    max-width: calc(80vw - 32px);
}

#messages>li:hover {
    background: #32343a;
}

#messages>li:hover .icons {
    visibility: visible;
}

#messages>li>svg {
    visibility: hidden;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    color: #dd4344;
}

#messages>li>svg:nth-child(2) {
    color: #fff;
    right: 2.2rem;
}

#messages>li>svg:hover {
    filter: brightness(80%);
}

#chat {
    float: left;
    max-width: 80vw;
}

#user-tab {
    position: fixed;
    right: 0;
    background-color: #2e3036;
    width: calc(20vw);
    max-width: calc(20vw);
    height: 100vh;
}

#online-tab {
    margin: 0;
    padding: 0.5rem 1rem;
    color: #fff;
}

#online-user-table {
    list-style-type: none;
    margin: 0 1rem;
    padding: 0;
}

#online-user-table>li {
    padding: 0.5rem 1rem;
    color: #fff;
}


/* Hide the scrollbar */
::-webkit-scrollbar {
    width: 0;
    height: 0;
}